<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Change Password</h2>

          <div
            *ngIf="showPassMatchError()"
            [ngClass]="{ 'alert alert-danger': showPassMatchError() }"
          >
            <div>
              <mat-error>Passwords must match</mat-error>
            </div>
          </div>
          <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
            <app-validated-input
              [control]="changePassForm.controls.password"
              [placeHolder]="'new password'"
              [inputType]="'password'"
            />

            <app-validated-input
              [control]="changePassForm.controls.rePassword"
              [placeHolder]="'retype new password'"
              [inputType]="'password'"
            />
            <div class="d-flex justify-content-center">
              <button [disabled]="loading" mat-raised-button color="primary" type="submit">
                Change password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
