<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 d-flex justify-content-center">
        <img
          src="../../../../assets/jabeklah.png"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <app-validated-input
            [control]="signUpForm.controls.username"
            [placeHolder]="'username'"
            [inputType]="'text'"
          />
          <app-validated-input
            [control]="signUpForm.controls.firstName"
            [placeHolder]="'firstName'"
            [inputType]="'text'"
          />
          <app-validated-input
            [control]="signUpForm.controls.lastName"
            [placeHolder]="'lastName'"
            [inputType]="'text'"
          />
          <app-validated-input
            [control]="signUpForm.controls.email"
            [placeHolder]="'email'"
            [inputType]="'email'"
          />
          <app-validated-input
            [control]="signUpForm.controls.cin"
            [placeHolder]="'CIN'"
            [inputType]="'text'"
          />
          <app-validated-input
            [control]="signUpForm.controls.dob"
            [placeHolder]="'dob'"
            [inputType]="'date'"
          />
          <app-validated-input
            [control]="signUpForm.controls.phoneNumber"
            [placeHolder]="'phone'"
            [inputType]="'phone'"
          />
          <app-validated-input
            [control]="signUpForm.controls.accountLimit"
            [placeHolder]="'account limit'"
            [inputType]="'radio'"
            [options]="[
              {
                value: 'ACC_200',
                title: 'HSSAB 200'
              },
              {
                value: 'ACC_5K',
                title: 'HSSAB 5K'
              },
              {
                value: 'ACC_20K',
                title: 'HSSAB 20K'
              }
            ]"
          />

          <div class="text-center text-lg-start mt-4 pt-2">
            <button mat-raised-button color="primary" [disabled]="loading">
              Send Request
            </button>

            <p class="small fw-bold mt-2 pt-1 mb-0">
              Already have an account?
              <a [routerLink]="['..', 'login']" class="link-danger">login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
