<table class="table">
  <thead>
    <tr>
      <ng-container *ngFor="let dispCol of displayedColumns">
        <th scope="col">{{ dispCol.name }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let dataRow of dataSource">
      <tr>
        <ng-container *ngFor="let dispCol of displayedColumns">
          <td>
            <span [ngClass]="dispCol.class">
              {{ getDataValue(dispCol.value || [], dataRow) }}
            </span>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>
