
<h1 style="margin-left: 300; font-weight:500; ">
    Bienvenue {{lName}} {{fName}} 
</h1>

<div class="row">

    <div class="col-3">
        <img src="{{image}}" alt="votre phto de profil"  class="img" height="170" width="160"/>
    </div>
    <div class="col-5" >
        <h2>Vos coordonnées personnelles</h2>
        <p class="text"> 
            Nom: {{lName}}
            <br>
            Prénom: {{fName}}
            <br>
            Email: {{email}}
            <br>
            solde: {{solde}} Dh
        </p>
            <button  class="btn btn-primary d-flex button" (click)="showListFacture()">
                {{showList ?'Cacher':'Afficher'}} l'historiques 
             </button>
    </div>

  </div>
  

<h2 *ngIf="showList" class="text_center" style=" margin-bottom: 10px; margin-top: 15px;"> Historiques de payement</h2>
<div *ngIf="showList" class="center_tab" style="font-size: medium;">
    !! il faut appeler app-historique
</div>




