<!-- Hero Section -->
<section
  class="hero text-light text-center py-5"
  style="background-color: #6d42ba"
>
  <div class="container">
    <h1 class="display-4">Welcome to eBanking</h1>
    <p class="lead">
      Your trusted partner for secure and convenient banking services
    </p>
    <a
      [routerLink]="['/', 'operations', 'creanciers']"
      class="btn btn-light btn-lg"
      >Start</a
    >
  </div>
</section>

<!-- Services Section -->
<section class="services py-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <mat-icon class="fa-4x mb-4 text-primary">credit_card</mat-icon>
          <h4>Bill Payments</h4>
          <p class="text-muted">Conveniently pay your bills online</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <mat-icon class="fa-4x mb-4 text-primary">shopping_cart</mat-icon>
          <h4>Product Purchases</h4>
          <p class="text-muted">Shop and make purchases with ease</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <mat-icon class="fa-4x mb-4 text-primary">access_time</mat-icon>
          <h4>Speed</h4>
          <p class="text-muted">Fast and efficient banking services</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <mat-icon class="fa-4x mb-4 text-primary">attach_money</mat-icon>
          <h4>Flexibility</h4>
          <p class="text-muted">Flexible banking options tailored to your needs</p>
        </div>
      </div>
    </div>
  </section>
  

<!-- Partners Section -->
<section class="partners py-5">
  <div class="container text-center">
    <h2 class="mb-4">Our Partners</h2>
    <div class="row align-items-center bg-purple p-3">
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <img src="https://upload.wikimedia.org/wikipedia/fr/6/6e/Maroc_telecom_logo.svg" alt="Partner 1" class="partner-logo">
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Logo_inwi.svg" alt="Partner 2" class="partner-logo">
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Logo_Lydec_2010.png" alt="Partner 3" class="partner-logo">
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Orange_logo.svg" alt="Partner 4" class="partner-logo">
        </div>
      </div>
      
  </div>
</section>
