
<img src="{{creditor}}" alt="creditor logo" height="110" width="220"/>


<h1>
    Unpaid invoices 
</h1>


<div class="container">

    <table  class="center_tab" style="font-size: medium;">

        <tr>
            <th>Id</th>
            <th>deadline</th>
            <th>Amount (Dh)</th>
            <th>Pay</th>
        </tr>
      
        <tr *ngFor="let Facture of unpaidInvoice">
            <td>{{Facture.id}}</td>
            <td>{{Facture.date_payement}}</td>
            <td>{{Facture.montant_paye}}</td>
            <td><input  type="checkbox" (change)="toggleSelection(Facture)" /></td>
        </tr>
    
    </table>

    <app-modal style="float: right; margin-bottom: 20px;" [invoices]="selectedInvoices" [total]="Total"></app-modal>


</div>
